<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMqPort" value="5672"/>
    <add key="FileDataDumpPath" value="C:\Users\AdeolaOjo\Downloads\TestData"/>
    <add key="RmqFileDataDumpPath" value="C:\Users\AdeolaOjo\Downloads\TestData\RmqLogs"/>
  </appSettings>
</configuration>